{{ define "Menu" }}

{{ end }}

        <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Golang Mysql CURD Sample</a>
        </div>
    </nav>

    <a href="/">HOME</a> | 
<a href="/new">NEW</a>